<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="C:\Users\Ranjit\Desktop\nikita\nikita\myfirstweb\static\style.css">
</head>
<body>
    <h2 id="wlcm">Welcome page</h2>
    <p>let me tell you, something about me 😊</p>
    <h1>Hey welcome to you in your new journey!</h1>
    <p>i am not happy for you</p>
    <a href="/"><button>Home</button></a>
</body>
</html>