<html>
<head>
    <title>My first web app</title>
</head>
<body >
    <style>
        /* h1 {background-color: powderblue;
            color: red;} */

            #tag1 {
                color: brown;
                background-color: aqua;
            }
            #tag2{
                color: blueviolet;
            }

        
    </style>
    
    <h2 style="color: brown; background-color: aqua;">Welcome at upflairs</h2>
    <p>keep learning with happy smile</p>
    <h1>Hey what you are thinking?</h1>
    <h3>ayush , nikita , sania</h3>
    <h1>Go to another pages</h1>
    <br>


    <h1 style="color: brown; background-color: rgb(234, 159, 48); text-align: center;">Welcome to you at this page</h1>

    <h1 id="tag1">Welcome to you in jaipur</h1>
    <h1 id="tag2">Welcome to you in jaipur</h1>


    <a href="/about"><button>ABOUT</button></a>
    <a href="/contact"><button>CONTACT</button></a>
    <a href="/service"><button>SERVICE</button></a>
    <a href="/userdata"><button>Fill the form</button></a>
    <br><br>
    <img src="./static/image/a5.jpg" alt="" width="600px" height="400"><br><br>


<a href="./static/pdf/30daysdatascience module syllabus.pdf"><button>syllabus preview</button></a>
    
    <br><br>
    
    <img src="./static/image/beard man.jpg" alt="">
    
    <br><br><br><br><br><br>

</body>
</html>